body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.header-section {
    color: white;
    background-color: black;
    display: flex;
    border-radius: 30px;
    margin: 70px 150px 0 150px;
    padding-top: 30px;
    padding-right: 30px;

}

.top h1 {
    font-size: 30px;
    padding-left: 30px;
    margin-left: 30px;
}

.top p {
    padding-left: 50px;

    font-size: 14px
}


.top2 img {
    width: 50%;
    padding-left: 100px;
    margin-left: 40px;
}

.top-a a {
    text-decoration: none;
    margin-left: 80px;
    background-color: red;
    color: white;
    padding: 8px;
    border-radius: 10px;
}

.main-section {
    display: flex;
    margin: 100px 50px;
}

.sub-section {
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px;
    border-radius: 10px;
}

.option {
    padding-top: 15px;
    padding-bottom: 15px;
}

.link-button {
    display: grid;
    place-items: center;
    width: 200px;
    height: 38px;
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    font-weight: 700;
    border-radius: 15px;
}

.blog {
    display: grid;
    place-items: center;
    width: 200px;
    height: 38px;
    text-decoration: none;
    background-color: #ff0000;
    color: #ffffff;
    font-weight: 700;
    border-radius: 15px;
}

.articles {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 15px;
    column-gap: 15px;
    row-gap: 15px;
}

article {
    width: 311px;
    border: 1px solid gray;
    border-radius: 20px
}

button {
    margin: 10px 0 0 20px;
}

h5 {
    margin-left: 10px;
}

.image {
    width: 311px;
    height: 200px;
}

.fa-message {
    padding-bottom: 20px;
    padding-left: 30px;
}

.fa-clock {
    padding-left: 30px;
}

.hidden-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.live-button {
    text-decoration: none;
    background-color: #ff0000;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    font-weight: 700;
}

footer {
    height: 300px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    color: #f0f8ff;
    font-weight: 700;
    font-size: 40px;
}

hr {
    width: 1000px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-a {
    padding: 20px;
    text-decoration: none;
    color: gray;
}

.social-media {
    padding-top: 20px;

}

.social-links {
    padding: 20px;
    font-size: 40px;

}

/*---------- media queries 
-------------------------------------*/

@media only screen and (max-width:688px) {
    .header-section {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3px;
    }

    .top {
        text-align: center;
        width: auto;
    }

    .top2,
    .top,
    {
    width: 100%;
}

.sub-section {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    align-items: center;
}

.link-button {
    border: 1px solid gray;

}

.top2 img {
    text-align: center;
    height: auto;
    width: auto;
}

.main-section {
    flex-direction: column;
}

.articles {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-content: center;
}

.footer {
    width: 100%;
}

.footer-a1 {
    display: flex;
    flex-direction: column;
}

.hidden-button {
    display: none;
}
}

@media only screen and (min-width:689px) and (max-width:972px) {
    .header-section {
        width: auto;

    }

    .top2,
    .top,
    .image {
        width: auto;
    }

    .sub-section {
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        flex-direction: row;
        width: auto;
    }

    .top2 img {
        width: auto;
        height: 450px;
        position: relative;
        top: 300px;
    }

    .main-section {
        flex-direction: column;
    }

    .articles {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-content: center;
    }

    .footer-a1 {
        display: flex;
    }

}

@media only screen and (min-width:973px) {

    .hidden-button {
        display: none;
    }
}